body {
    height: 500px;
    margin: 0;
    padding: 0;
}

/*Top Bar*/
.navigator-container {
    display: flex;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    background-color: #800000;
    height: 100px;
}
nav a {
    font-size: 40px;
    color: white;
    background-color: #800000;
    margin: 30px;
    border: 3px solid #800000;
    transition: transform 0.3s;
    text-decoration: none;
}
a.infolink {
    font-size: 1vw;
    font-size: 1.5vw;
    color: white;
    background-color: #800000;
    margin: 30px;
    padding: 0vw 2vw;
    border: 3px solid #800000;
    transition: transform 0.3s;
    text-decoration: none;
}
a:hover {
    color: maroon;
    background-color: white;
    border: 10px solid white;
    border-radius: 60px;
    transform: translateY(-5px);
}

.logotopright {
    position: relative;
    left: 2vw;
    padding-left: 2vw;
    width: 7%;
    max-width: auto;
    height: auto;
}

/*First Section*/
.body-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    background-color: bisque;
    height: 100%;
}
.text-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;  
    padding-left: 10rem;
}
.header1 {
    text-align: center;
    font-size: 8vw;
    color: #982B1C;
    min-height: 0px;
    animation-name: wave;
    animation-duration: s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.image-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.imageholder {
    width: 40vw;
    height: auto;
    mix-blend-mode: multiply;
    filter:saturate(1.2)
}

/*Second Section*/


.body2-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr ;
    background-color: bisque;
    height: 105vh;
    border-top: dotted;
    padding-top: 3rem;
    color: #982B1C;
}
/*Upper portion texts*/
.text2-container {
    flex-direction: column ;
    align-content: center;
    grid-row: 1 / 3;
    grid-column: 1 / 3;
}
.text2-container h1.name {
    font-size: 6vw;
    margin: 0px;
    position: relative;
    left: 5vw;
    bottom: 5.5vw;
    inline-size: 35vw;
}
.text2-container p.namedescription {
    font-size: 2vw;
    position: relative;
    left: 9vw;
    bottom: 8vw;
    inline-size: 40vw;
    text-align: justify;
}

/*Images*/
.image2-container {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    position: relative;
    left: 20vw;
}
.image3-container {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    overflow: hidden;
    float: left;
    position: relative;
    top: 21vw;
    left: 12vw;
}
.picture1 {
    width: 100%;
    height: auto;
    object-fit: contain;
}
.picture2 {
    width: 45vw;
    height: 25vw;  
}

/*Lower portion texts*/
.text3-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #982B1C;
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}
.text3-container h1.school {
    font-size: 3vw;
    margin: 0px;
    min-height: 0px;
    text-align: center;
    position: relative;
    right: 6vw;
    bottom: -0.5vw;
    inline-size: 37vw;
}
p.schooldescription {
    font-size: 1.5vw;
    min-height: 0px;
    position: relative;
    bottom: 0.8vw;
    left: -4.5vw;
    inline-size: 30vw;
}

/*Info button*/
.body3-container {
    background-color: #800000;
}
.contact-info {
    display: block;
    text-align: center;
    padding: 1vw;
}
@media (max-width: 1400px) {
    * {
        position: 0;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        width: 100%;
        height: 100vh;
    }
    div.navigator-container {
        max-height: 30%;
        align-items: none;
        justify-content: none;
        display: flex;
        flex-direction: row;
    }
    div.navigator-container div.nav-container {
        width: auto;
        position: none;
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: row;
    }
    div.header {
        width: 30%;
    }
    /* --------------------------- */
    div.body-container {
        height: 90vh;
    }
    /* --------------------------- */
    div.body2-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 15px;
    }
    div.text2-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: none;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0;
        margin: 0;
    }
    div.text3-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: none;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0;
        margin: 0;
    }
    div.image2-container {
        position: none;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    div.image3-container {
        position: none;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0;
        margin: 0;
    }
    img.picture1 {
        width: 30%;
        height: 30%;
    }
    img.picture2 {
        width: 100%;
        height: 80%;
    }
    .text2-container p.namedescription {
        text-align: center;
        width: 100%;
        position: none;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0;
        margin: 0;
        inline-size: none;
    }
    .text2-container h1.name {
        text-align: center;
        bottom: 0;
        left: 0;
    }
    div.text2-container h1.name {
        width: 80%;
    }
    div.text2-container p.namedescription {
        width: 50%;
    }
    div.text3-container h1.school {
        text-align: center;
        width: 60%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0; 
        padding: 0;
        margin: 0;
    }
    div.text3-container p.schooldescription {
        font-size: 30px;
        width: 50%;
        text-align: justify;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0; 
    }

}